<h1>Seguros</h1>
<div class="row mb-3">

  <div class="col-md-6 col-sm-6">
    <label>Nome</label>
    <input class="form-control" type="text">
  </div>

  <div class="col-md-6 col-sm-6">
    <label>Abrangencia</label>

    <div class="row">
      <div class="col-9">
        <select class="custom-select" name="abrangecia-selector" id="abrangecia-selector">
          <option label="Selecionar" disabled></option>
          <option *ngFor="let key of keys" [value]="key" [label]="abrangenciaList[key]"></option>
        </select>
      </div>
      <div class="col-3">
        <button class="btn btn-primary">Adicionar</button>
      </div>
    </div>
  </div>

</div>
